{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>
        お孫さんに贈るおもちゃ選びのお手伝い
    </h1>
    {% for object in object_list %}
    <hr>
    <div class="row col-12 m-0 p-0">
        <div class="card">
            <h2 class="card-header">
                <a href="{% url 'item_list' object.tag.id %}">
                    {{ object.tag.name }}
                </a>
            </h2>
            <div class="card-body">
                <div class="row">
                    {% for item in object.items %}
                        {% if forloop.counter <= 4 %}
                        <div class="col d-flex align-items-center">
                            <a href="{% url 'item_detail' item.pk %}">
                                <img class="img-fluid" src="{{ item.image }}" alt="{{ item.name}}">
                            </a>
                        </div>
                        {% else %}
                        <div class="col d-flex d-none d-sm-block align-items-center">
                           <div class="col d-flex d-none d-sm-block p-0">
                                <a href="{% url 'item_detail' item.pk %}">
                                    <img class="img-fluid" src="{{ item.image }}">
                                </a>
                           </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}