{% extends "base.html" %}
{% block content %}
<h1>
    {{ tag.name }}
</h1>
<div class="container">
    <div class="row">
        {% for item in object_list %}
        <div class="col-5 col-md-3 d-flex align-items-center">
            <a href="{% url 'item_detail' item.pk %}">
                <img class="img-fluid" src="{{ item.image }}" alt="{{ item.name}}">
            </a>
        </div>
        <div class="col-7 col-md-3">
            {{ item.name }}
            <div class="m-1">
                <a href="{{ item.amazon_url }}">
                    <button type="button" class="btn btn-block btn-warning">amazon</button>
                </a>
            </div>
            <div class="m-1">
                <button type="button" class="btn btn-block btn-danger">楽天市場</button>
            </div>
            <div class="m-1">
                <button type="button" class="btn btn-block btn-outline-danger">Y!ショッピング</button>
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
    <div>
        {% include "pagination.html" %}
    </div>
</div>
{% endblock %}