{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title">まずは、あなたの基本プロフィールを登録しましょう！</h4>
                    <p class="card-text">Profyは友達の質問に答えながらプロフィールを作るサービスです！</p>
                    <a class="btn btn-lg btn-primary withripple" href="#">
                        プロフィールを登録する
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}