<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "common_head.html" %}
    <title>まごトイっしょ {{ item.name }} おもちゃ情報詳細</title>
    <meta name="description" content="お孫さんに贈るおもちゃ選びのお手伝い {{ item.name }} おもちゃ情報詳細">
</head>

<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>
                    {{ item.name }}
                </h1>
                {% for tag in item.tag.all %}
                <span class="badge badge-pill badge-info">
                    {{ tag.name }}
                </span>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <img class="img-fluid" src="{{ item.image }}" alt="{{ item.name}}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 m-2">
                <a href="{{ item.amazon_url }}">
                    <button type="button" class="btn btn-block btn-warning">amazonで見る</button>
                </a>
            </div>
            <div class="col-md-3 m-2">
                <button type="button" class="btn btn-block btn-danger">楽天市場で見る</button>
            </div>
            <div class="col-md-3 m-2">
                <button type="button" class="btn btn-block btn-outline-danger">Yahoo!ショッピングで見る</button>
            </div>
        </div>
    </div>
    {% include "common_script.html" %}
</body>
</html>