<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "common_head.html" %}
    <title>まごトイっしょ {{ tag.name }} おもちゃ一覧</title>
    <meta name="description" content="お孫さんに贈るおもちゃ選びのお手伝い {{ tag.name }} おもちゃ一覧">
</head>
<body>
    {% include "navbar.html" %}
    <h1 class="h2">
        {{ tag.name }}
    </h1>
    <div class="container">
        <div class="row">
            <h2 class="h3">
            {{ tag.description|default:""|linebreaksbr|urlize }}
            </h2>
        </div>
        <div class="row">
            {% for item in object_list %}
            <div class="col-5 col-md-3 d-flex align-items-center">
                <a href="{% url 'item_detail' item.pk %}">
                    <img class="img-fluid" src="{{ item.image }}" alt="{{ item.name}}">
                </a>
            </div>
            <div class="col-7 col-md-3">
                {{ item.name }}
                <div class="m-1">
                    <a href="{{ item.amazon_url }}">
                        <button type="button" class="btn btn-block btn-warning">amazon</button>
                    </a>
                </div>
                <div class="m-1">
                    <button type="button" class="btn btn-block btn-secondary" disabled>楽天市場</button>
                </div>
                <div class="m-1">
                    <button type="button" class="btn btn-block btn-secondary" disabled>Y!ショッピング</button>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        <div>
            {% include "pagination.html" %}
        </div>
    </div>
    {% include "common_script.html" %}
</body>
</html>