{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div>
            {% for toy in object_list %}
                <div class="col-sm-8">
                    <div class="card">
                        <h4 class="card-header">
                            {{ forloop.counter }}位
                        </h4>
                        <img class="card-img-top" src="{{ toy.image }}">
                        <div class="card-body">
                            <p class="card-text">
                                {% for tag in toy.tag.all %}
                                    <span class="badge badge-pill badge-primary">
                                    {{ tag.name }}
                                    </span>
                                {% endfor %}
                            </p>
                            <h4 class="card-title">
                            {{ toy.name }}
                            </h4>
                            <p class="card-text">
                                {{ toy.description|truncatechars_html:80 }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}