    <ul class="nav small justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'article_list' %}">
                ブログ記事一覧
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'heritage_list' %}">
                世界遺産一覧
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'blog_list' %}">
                ブログ一覧
            </a>
        </li>
    </ul>