<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "common_head.html" %}
    <title>世界遺産トラベラーズ 世界遺産ブログ集 サイト説明</title>
    <meta name="description" content="世界遺産トラベラーズは、世界遺産に関するブログへのリンクを独自の基準で集めた世界遺産ブログ集です。魅力あふれるブログ記事やそこに掲載された美しい写真を通して、世界遺産への関心をさらに深めていただけば幸いです。">
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <h1 class="h5">サイト説明</h1>
        {{ site_master.description|safe }}
    </div>
    {% include "footer.html" %}
    {% include "common_script.html" %}
</body>
</html>