<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "common_head.html" %}
    <title>世界遺産ブログ集 {{ heritage_name }} 一覧</title>
    <meta name="description" content="世界遺産ブログ集 {{ heritage_name }} 一覧">
</head>
<body style="padding-top:50px">
    {% include "navbar.html" %}
    <div class="container">
        <div class="row">
            <h1 class="h5">
                {{ heritage_name }}
            </h1>
            {% for article in article_list %}
            <div class="card w-100">
                <div class="card-body">
                    <h2 class="card-title h6">
                        <a href="{{ article.url }}" target="_blank">
                            {{ article.title }}
                        </a>
                    </h2>
                    <p class="card-text text-secondary small">
                        {{ article.text|truncatechars_html:80 }}
                    </p>
                    {% for heritage in article.heritage.all %}
                        <a href="{% url 'heritage_article_list' heritage.formal_name %}"
                           class="badge badge-pill badge-info">
                            {{ heritage.formal_name|truncatechars_html:20 }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% include "pagination.html" %}
    </div>
    {% include "common_script.html" %}
</body>
</html>