<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "common_head.html" %}
    <title>世界遺産トラベラーズ ブログ一覧</title>
    <meta name="description" content="世界遺産へのリアルな旅行記を、あなたの旅の参考に。1158件のブログを掲載中。">
</head>
<body>
    {% include "navbar.html" %}
    {% include "navbar_sub.html" %}
    <div class="container">
        <div class="row">
            <div class="card w-100">
                <div class="card-body">
                    <h1 class="card-text h5">
                        ブログ一覧
                    </h1>
                </div>
            </div>
            <div class="card w-100">
                <ul class="list-group">
                    {% for blog in blog_list %}
                        <li class="list-group-item">
                            <h2 class="h6">
                                <a href="{% url 'blog_article_list' blog.pk %}">
                                    <button type="button" class="btn btn-outline-info btn-sm">
                                        {{ blog.title|truncatechars_html:20 }}
                                        <span class="badge badge-pill badge-primary">
                                            {{ blog.article_count }}
                                        </span>
                                    </button>
                                </a>
                            </h2>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% include "pagination.html" %}
    </div>
    {% include "footer.html" %}
    {% include "common_script.html" %}
</body>
</html>