<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "common_head.html" %}
    <title>世界遺産旅行ブログ集</title>
    <meta name="description" content="世界遺産旅行ブログ集">
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        {% for country in country_list %}
        <div class="row">
            <div class="card w-100">
                <div class="card-body">
                    <h2 class="card-title h6">
                        <a href="{% url 'country_heritage_list' country.formal_name %}">
                            {{ country.formal_name }}
                        </a>
                        <span class="badge badge-pill badge-primary">
                            {{ country.article_count }}
                        </span>
                    </h2>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include "common_script.html" %}
</body>
</html>