<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "common_head.html" %}
    <title>世界遺産トラベラーズ 世界遺産ブログ集 {{ area_name }}</title>
    <meta name="description" content="世界遺産トラベラーズは、世界遺産に関するブログを集めたサイトです。{{ area_name }}の世界遺産に関するブログはこちら。"></head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="row">
            <div class="card w-100">
                <div class="card-body">
                    <h1 class="card-title h5">
                        {{ area_name }}
                    </h1>
                </div>
            </div>
            {% for country in country_list %}
            <div class="card w-100">
                <div class="card-body">
                    <h2 class="card-title h6">
                        <a href="{% url 'country_heritage_list' country.formal_name %}">
                            {{ country.formal_name }}
                        </a>
                        <span class="badge badge-pill badge-primary">
                            {{ country.article_count }}
                        </span>
                    </h2>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    {% include "footer.html" %}
    {% include "common_script.html" %}
</body>
</html>