<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "common_head.html" %}
    <title>世界遺産トラベラーズ 世界遺産ブログ集 {{ area_name }}</title>
    <meta name="description" content="世界遺産トラベラーズは、世界遺産に関するブログを集めたサイトです。{{ area_name }}の世界遺産に関するブログはこちら。"></head>
<body>
    {% include "navbar.html" %}
    {% include "navbar_sub.html" %}
    <div class="container">
        <div class="row">
            <div class="card w-100">
                <div class="card-body">
                    <h1 class="card-text h5">
                        {{ area_name }} 一覧
                    </h1>
                </div>
            </div>
            <div class="card w-100">
                <ul class="list-group">
                    {% for country in country_list %}
                        <li class="list-group-item">
                            <h2 class="h6">
                                <a href="{% url 'country_heritage_list' country.formal_name %}">
                                    {{ country.formal_name }}
                                </a>
                                <span class="badge badge-pill badge-primary">
                                    {{ country.article_count }}
                                </span>
                            </h2>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
    {% include "common_script.html" %}
</body>
</html>