<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "common_head.html" %}
    {% if country_name %}
        <title>世界遺産トラベラーズ {{ country_name }}</title>
        <meta name="description" content="世界遺産へのリアルな旅行記を、あなたの旅の参考に。1158件のブログを掲載中。{{ country_name }}の旅行ブログはこちら。">
    {% else %}
        <title>世界遺産トラベラーズ 世界遺産一覧</title>
        <meta name="description" content="世界遺産へのリアルな旅行記を、あなたの旅の参考に。1158件のブログを掲載中。">
    {% endif %}
</head>
<body>
    {% include "navbar.html" %}
    {% include "navbar_sub.html" %}
    <div class="container">
        <div class="row">
            {% if country_name %}
                <div class="card w-100">
                    <div class="card-body">
                        <h1 class="card-text h5">
                            {{ country_name }} 一覧
                        </h1>
                    </div>
                </div>
            {% else %}
                <div class="card w-100">
                    <div class="card-body">
                        <h1 class="card-text h5">
                             ブログ記事のある世界遺産一覧
                        </h1>
                    </div>
                </div>
            {% endif %}
            <div class="card w-100">
                <ul class="list-group">
                    {% for heritage in heritage_list %}
                        <li class="list-group-item">
                            <h2 class="h6">
                                <a href="{% url 'heritage_article_list' heritage.formal_name %}">
                                    {{ heritage.formal_name }}
                                </a>
                                <span class="badge badge-pill badge-primary">
                                    {{ heritage.article_count }}
                                </span>
                            </h2>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% include "pagination.html" %}
    </div>
    {% include "footer.html" %}
    {% include "common_script.html" %}
</body>
</html>