<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "common_head.html" %}
    <title>世界遺産トラベラーズ 世界遺産ブログ集 {{ country_name }} 世界遺産一覧</title>
    <meta name="description" content="世界遺産トラベラーズ 世界遺産ブログ集 {{ country_name }} 世界遺産一覧">
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="row">
            <div class="card w-100">
                <div class="card-body">
                    <h1 class="card-title h5">
                        {{ country_name }}
                    </h1>
                </div>
            </div>
            {% for heritage in heritage_list %}
            <div class="card w-100">
                <div class="card-body">
                    <h2 class="card-title h6">
                        <a href="{% url 'heritage_article_list' heritage.formal_name %}">
                            {{ heritage.formal_name }}
                        </a>
                        <span class="badge badge-pill badge-primary">
                            {{ heritage.article_count }}
                        </span>
                    </h2>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include "common_script.html" %}
</body>
</html>