<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "common_head.html" %}
    {% if country_object %}
        <title>{{ country_object.short_name }}の旅行記・ブログ集 | 世界遺産トラベラーズ</title>
        <meta name="description" content="{{ heritage_list.0.formal_name }} / {{ heritage_list.1.formal_name }} / {{ heritage_list.2.formal_name }}">
    {% else %}
        <title>ブログ記事がある世界遺産一覧 | 世界遺産トラベラーズ</title>
        <meta name="description" content="日本・海外の世界遺産に関するブログへのリンクを多数掲載。アンコールワット、ガウディの作品群、タージマハル、フィレンツェ、プラハ、ホイアン...">
    {% endif %}
</head>
<body>
    {% include "navbar.html" %}
    {% include "navbar_sub.html" %}
    <div class="container">
        <div class="row">
            {% if country_object %}
                <div class="card w-100">
                    <div class="card-body">
                        <h1 class="card-text h5">
                            {{ country_object.short_name }} 一覧
                        </h1>
                    </div>
                </div>
            {% else %}
                <div class="card w-100">
                    <div class="card-body">
                        <h1 class="card-text h5">
                             ブログ記事がある世界遺産一覧
                        </h1>
                          <small class="text-muted">
                            {% load humanize %}
                            掲載世界遺産数: {{ paginator.count|intcomma}} / 1,092
                          </small>
                    </div>
                </div>
            {% endif %}
            <div class="card w-100">
                <ul class="list-group">
                    {% for heritage in heritage_list %}
                        <li class="list-group-item">
                            <h2 class="h6">
                                <a href="{% url 'heritage_article_list' heritage.formal_name %}">
                                    {{ heritage.formal_name }}
                                </a>
                                <span class="badge badge-pill badge-primary">
                                    {{ heritage.article_count }}
                                </span>
                            </h2>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% include "pagination.html" %}
    </div>
    {% include "footer.html" %}
    {% include "common_script.html" %}
</body>
</html>